body{
    background-color: var(--white);
    color: var(--accent);   
}
header{
    background-color: var(--primary);
    color: var(--white);
}
nav{
    display: flex;
    padding: 0 25px;
    justify-content: space-evenly;
    align-items: center
}
nav ul{
    width: -webkit-fill-available;
    display: flex;
    font-size: larger;
    font-weight: 500;
    justify-content: flex-end;
    gap: 55px;
    list-style: none;
    text-decoration: none;
}
ul li{
    font-weight: normal;
}
.logo{
    height: 50px;
    width: 50px;
    background-color: var(--white);
    margin: 10px auto;
}
main{
    display: flex;
    padding: 50px;
}
main img{
    z-index: 50;
}
.banner-image{
    height: 500px;
    width: 100rem;
    background-color: var(--primary);
}
section{
    display: flex;
    color: unset;
    flex-direction: column;
    justify-content: flex-end;
    gap: 50px;
}
section h1{
    color: var(--primary);
    font-size: xxx-large;
    font-weight: normal;
}
section p{
    letter-spacing: 1px;
    line-height: 25px;
    line-break: normal;
}
section div{
    display: flex;
    gap: 90px;
}
section div button{
    height: 46px;
    width: 115px;
    font-size: 25px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px var(--accent);
    border-bottom-color: var(--white);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
#register{
    background-color: var(--accent);
}


/* login modal */
.modal{
    width: 370px;
    height: 450px;
    z-index: 1000;
    background-color: var(--white);
    box-shadow: 0px 2px 8px var(--accent);
    border-radius: 10px;
    position: absolute;
    top: 26%;
    left: 40%;
    margin: -100px 0 0 -150px;
    display: none;
    flex-direction: column;
    padding: 65px;
    justify-content: space-evenly;
    text-align: center;
    color: var(--primary);
    -webkit-transition-duration: 2s;
}
.modal img{
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
}
.modal h4{
    color: var(--accent);
    text-align: start;
    font-weight: lighter;
}
.modal div{
    display: flex;
    flex-direction: column;
    text-align: start;
    color: var(--accent);
}
.modal div input{
    height: 40px;
    border:none;
    background-color: var(--accent-lighter);
    border-radius: 5px;
    outline: none;
    margin:6px 0px;

}
.modal button{
    background-color: var(--primary);
    color: var(--white);
    height: 40px;
    border: none;
    font-size: 25px;
    box-shadow: 0px 1px 5px var(--accent);
    border-radius: 5px;
}
